:root {
  --main-color:#10cab7;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  text-align: center;
}

@media (max-width:400px) {
  .container {
    width: 98%;
    height: 20px;
  }

}






/* 
@media (min-width:200px){
  .container{
    width: 97%;
  }
}
/* small /
@media (min-width:768px) {
  .container {
    width: 90%;
  }
}
/* madium /
@media (min-width:992px) {
  .container {
    width: 90%;
  }
}
/* large /
@media (min-width:1200px) {
  .container {
    width: 90%px;
  }
} */
/* End Global Rules */
/* Start Header */
.header {
  padding: 20px;
  background-color: #f6f6f6;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 45px;
  height: 45px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  background-color:#f6f6f6;
  color:var(--main-color);
  width: 45px;
  border-radius: 5px;
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header .links ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  min-width: 150px;
  display: none;
}
.header .links:hover ul {
  display: block;
  z-index: 20;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;

}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .links ul li a:hover{
  padding-left: 25px;
}
.header .links ul li:not(:last-child){
  border-bottom: 1px solid #DDD;
}
/* End header */
/* Start landing section */
.landing {
  background-image: url(../imges/mountain.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;

}
.landing .intro-text h1{
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p{
  font-size: 19px;
  line-height: 1.8;
  font-weight: 500;
}
/* End landing section */
/* Start Features*/
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px o;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
}
/*End Features */